body{
    margin: 0px;
}

*{
    font-family: "futura";
    font-weight: lighter; 
}

/*====================HEADER====================*/
.header{
    display: flex;
    flex-direction: column;
    background-color: #08345c;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.header__item{
   display: block;
    border-width: 2px;
    padding: 18px 20px;
    text-decoration: none;
}
/*logo i header*/
li:first-child{
    display: flex;
    align-self: center;
    padding: 5px 20px
}

/* for at holde mine anchortags(links) hvide*/
a{
    text-decoration: none; 
    border-color: white;
    color: white;
}

/* paa denne maade kommer der ikke hover-effekt over navn/logo, som altsaa er first child*/
li:not(:first-child):hover{
    background-color: #00A8E8;
}

/*====================INDEX====================*/
/*billede på indexsiden (det hedder second-image, da mit first image er mit logo i headeren*/
.main__image img{
    width: 499px;
    height: 370px;
    border-radius: 50px;
}

/*overskrift på index*/
.main__title{
    color: #00171F;
    text-align: center;
}

/*underoverskrift på index, om og portfolio*/
.main__subtitle{
    color: #00A8E8;
    font-size: 32px;
}

.main__welcome{
    margin-left: 9px;
}

/*brødtekst*/
.main {
    flex: auto;
    background-color: #ffffff;
    padding: 20px;
    color: #00171F;
    text-align: center;
    line-height: 200%;
}

.main__text {
    text-align: left;
    margin-left: 9px;
    margin-right: 9px;
}

/*====================PORTFOLIO====================*/
/*layout til portfolio-siden*/
.portfolio__gallery{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.portfolio__description{
    margin-left: 26px;
    margin-right: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
}

/*billeder og video + deres boks udenoms placering og størrelse på portfolio-siden*/
.portfolio__item{
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
width: 460px;
height: 450px;
border: 20px solid #08345c;
padding: 10px;
margin: 20px 0px;
transition: transform .2s;
border-radius: 25px;
}

.portfolio__item img{
    width: 100%;
    height: auto;
}

.portfolio__item video{
    width: 100%;
    height: auto;
}


/*====================BUTTON====================*/
.button__container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 20vh;
}

.button__text {
    background-color: #FCA311;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.button:hover {
    background-color: #00A8E8; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*====================BUTTON====================*/
.footer {
    background-color: #003459;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
}

/*ikoner i footeren*/
.material-icons.md-18 footer__icon {
    font-size: 1em;
}


/*media queries til computer*/
@media only screen and (min-width: 768px){

    /*====================HEADER====================*/
    /*headeren skal kører på langs*/
    .header {
        flex-direction: row;
        justify-content: flex-end;
    }

    /*skriftstørrelsen skal blive større på computer*/
    .header__item{
        border-width: 0px;
        font-size: 1.5em;
        padding-bottom: 0%;
      
    }

    /*logo skal blive til venstre*/
    li:first-child{
       margin-right: auto;  
    }

    /*====================TEKST====================*/
    /*skriftstørrelsen på brødtekst skal blive større*/
    .main {
        flex: auto;
        background-color: white;
        padding: 20px;
        color: #00171F;
        text-align: left;
        line-height: 200%;
        font-size: 1.2em;
    }

    .main__subtitle{
        color: #00A8E8;
        font-size: 2em;
        text-align: center;
    }
    /*====================IMAGES====================*/
    /* mit billede på forsiden skal vokse sig stoerre*/
    .main__image img{
        float: right;
        width: 600px;
        height: 450px;
    }

    /*====================PORTFOLIO====================*/
    /*billeder på portfolio-siden skal bliver stoerre og have hover*/
    .portfolio__item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 382px;
        height: 380px;
        border: 20px solid #08345c;
        padding: 10px;
        margin: 20px;
        transition: transform .2s;
     }

     .portfolio__item:hover{
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
    }

    .portfolio__item img{
            width: 100%;
            height: auto;
     }
        
    .portfolio__item video{
            width: 100%;
            height: auto;
     }

    .portfolio__gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio__description{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.5em;
    }

    /*====================BUTTON====================*/
    /* knappen skal blive større*/
    .button__text {
        background-color: #FCA311;
        border: none;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
        border-radius: 15px;
}

    /*knappen skal være centreret på computer også*/
    .button__container {
        width: 100%; 
        height: 20vh; 
        display: flex;
        justify-content: center; 
        align-items: center;     
    }

    /*====================FOOTER====================*/
    /*footeren skal kører på langs*/
    .footer {
        background-color: #08345c;
        color: #ffffff;
        display: flex;
        justify-content:space-around;
        flex-direction: row;
    }
}